MiniPhotoShop/.idea/.idea.MiniPhotoShop/.idea/.gitignore
MiniPhotoShop/.idea/.idea.MiniPhotoShop/.idea/encodings.xml
MiniPhotoShop/.idea/.idea.MiniPhotoShop/.idea/indexLayout.xml
MiniPhotoShop/.idea/.idea.MiniPhotoShop/.idea/vcs.xml
